// Custom styles
// 0. Global styles
// 1. Header
// 2. Homepage
//

// 0. Global styles
// --------------------

.button {
  font-weight: bold;
}

// 1. Header
// --------------------

.top-bar {
  padding: 0;
}

.top-bar-title {
  background: $brand-dark;

  &::before {
    background: $brand-dark;
  }
}

.subnavigation ul li {

  @include breakpoint(medium) {
    margin-right: rem-calc(8);
  }
}

// 2. Homepage
// --------------------

.home-page {

  .jumbo {

    @include breakpoint(large) {
      background-position: center;
      background-size: cover;
      margin-top: rem-calc(-24);
      padding-top: $line-height * 2;
    }

    &.header-card-full {
      color: #fff;
      margin-left: auto;
      margin-right: auto;

      @include breakpoint(large) {
        margin-left: calc(#{$global-width / 2} - 50vw);
        margin-right: calc(#{$global-width / 2} - 50vw);
      }

      .header-content {
        background: rgba(255, 255, 255, 0.8);
        color: $text;
        padding: $line-height;

        @include breakpoint(medium) {
          border-radius: $line-height;
        }
      }
    }
  }
}

footer p {
  font-size: $small-font-size !important;
}
