<div class="clear"></div>
<div class="small-12 column margin">
  <table class="margin">
    <thead>
      <tr>
        <th>Áreas</th>
        <th>Código Postal</th>
        <th>Habitantes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>BARCENA DEL BIERZO</td>
        <td>24491</td>
        <td>228</td>
      </tr>
      <tr>
        <td>BARRIO DE COMPOSTILLA</td>
        <td>24492</td>
        <td>1915</td>
      </tr>
      <tr>
        <td>BARRIO DE CUATROVIENTOS</td>
        <td>24404</td>
        <td>3843</td>
      </tr>
      <tr>
        <td>BARRIO DE LA ESTACIÓN</td>
        <td>24403</td>
        <td></td>
      </tr>
      <tr>
        <td>BARRIO DE LA PLACA</td>
        <td>24403</td>
        <td>1165</td>
      </tr>
      <tr>
        <td>BARRIO DE LA ROSALEDA</td>
        <td>24404</td>
        <td></td>
      </tr>
      <tr>
        <td>BARRIO DE FLORES DEL SIL</td>
        <td>24403</td>
        <td>8419</td>
      </tr>
      <tr>
        <td>BARRIO DE PUENTE BOEZA</td>
        <td>24401</td>
        <td></td>
      </tr>
      <tr>
        <td>BOUZAS</td>
        <td>24414</td>
        <td>34</td>
      </tr>
      <tr>
        <td>CAMPO</td>
        <td>24414</td>
        <td>327</td>
      </tr>
      <tr>
        <td>CARRACEDO DE COMPLUDO</td>
        <td>24414</td>
        <td>12</td>
      </tr>
      <tr>
        <td>CENTRO-LA PUEBLA</td>
        <td>24402</td>
        <td></td>
      </tr>
      <tr>
        <td>COLUMBRIANOS</td>
        <td>24490</td>
        <td>1377</td>
      </tr>
      <tr>
        <td>COMPLUDO</td>
        <td>24414</td>
        <td>14</td>
      </tr>
      <tr>
        <td>DEHESAS</td>
        <td>24390</td>
        <td>245</td>
      </tr>
      <tr>
        <td>ESPINOSO DE COMPLUDO</td>
        <td>24414</td>
        <td>18</td>
      </tr>
      <tr>
        <td>FUENTESNUEVAS</td>
        <td>24411</td>
        <td>2728</td>
      </tr>
      <tr>
        <td>LA MARTINA</td>
        <td>24403</td>
        <td>325</td>
      </tr>
      <tr>
        <td>LOMBILLO DE LOS BARRIOS</td>
        <td>24414</td>
        <td>59</td>
      </tr>
      <tr>
        <td>MANZANEDO DE VALDUEZA</td>
        <td>24415</td>
        <td>8</td>
      </tr>
      <tr>
        <td>MONTES DE VALDUEZA</td>
        <td>24415</td>
        <td>33</td>
      </tr>
      <tr>
        <td>ORBANAJO</td>
        <td>24415</td>
        <td></td>
      </tr>
      <tr>
        <td>OTERO</td>
        <td>24415</td>
        <td>99</td>
      </tr>
      <tr>
        <td>OZUELA</td>
        <td>24415</td>
        <td>48</td>
      </tr>
      <tr>
        <td>PALACIOS DE COMPLUDO</td>
        <td>24414</td>
        <td>4</td>
      </tr>
      <tr>
        <td>PEÑALBA DE SANTIAGO</td>
        <td>24415</td>
        <td>15</td>
      </tr>
      <tr>
        <td>RIMOR</td>
        <td>24448</td>
        <td>100</td>
      </tr>
      <tr>
        <td>SALAS DE LOS BARRIOS</td>
        <td>24414</td>
        <td>75</td>
      </tr>
      <tr>
        <td>SAN ADRIAN DE VALDUEZA</td>
        <td>24415</td>
        <td>4</td>
      </tr>
      <tr>
        <td>SAN ANDRES DE MONTEJOS</td>
        <td>24491</td>
        <td>540</td>
      </tr>
      <tr>
        <td>SAN CLEMENTE DE VALDUEZA</td>
        <td>24415</td>
        <td>43</td>
      </tr>
      <tr>
        <td>SAN CRISTOBAL DE VALDUEZA</td>
        <td>24415</td>
        <td>49</td>
      </tr>
      <tr>
        <td>SAN ESTEBAN DE VALDUEZA</td>
        <td>24415</td>
        <td>50</td>
      </tr>
      <tr>
        <td>SAN LORENZO</td>
        <td>24415</td>
        <td>236</td>
      </tr>
      <tr>
        <td>SANTA LUCIA</td>
        <td>24415</td>
        <td></td>
      </tr>
      <tr>
        <td>SANTO TOMAS DE LAS OLLAS</td>
        <td>24416</td>
        <td>290</td>
      </tr>
      <tr>
        <td>TODA LA CIUDAD</td>
        <td>24400</td>
        <td>63747</td>
      </tr>
      <tr>
        <td>TORAL DE MERAYO</td>
        <td>24448</td>
        <td>494</td>
      </tr>
      <tr>
        <td>URBANIZACIÓN PATRICIA</td>
        <td>24415</td>
        <td>453</td>
      </tr>
      <tr>
        <td>VALDECAÑADA</td>
        <td>24415</td>
        <td>37</td>
      </tr>
      <tr>
        <td>VALDEFRANCOS</td>
        <td>24415</td>
        <td>27</td>
      </tr>
      <tr>
        <td>VILLANUEVA DE VALDUEZA</td>
        <td>24415</td>
        <td>96</td>
      </tr>
      <tr>
        <td>VILLAR DE LOS BARRIOS</td>
        <td>24414</td>
        <td>161</td>
      </tr>
      <tr>
        <td>ZONA ALTA</td>
        <td>24401</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
